[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ADMM"]
	path = ADMM
	url = https://github.com/kisungyou/admm
[submodule "CovTools"]
	path = CovTools
	url = https://github.com/kisungyou/covtools
[submodule "NetworkDistance"]
	path = NetworkDistance
	url = https://github.com/kisungyou/networkdistance
[submodule "ROptSpace"]
	path = ROptSpace
	url = https://github.com/kisungyou/roptspace
[submodule "Rdimtools"]
	path = Rdimtools
	url = https://github.com/kisungyou/rdimtools
[submodule "RiemBase"]
	path = RiemBase
	url = https://github.com/kisungyou/riembase
[submodule "Riemann"]
	path = Riemann
	url = https://github.com/kisungyou/riemann
[submodule "Rlinsolve"]
	path = Rlinsolve
	url = https://github.com/kisungyou/rlinsolve
[submodule "SBmedian"]
	path = SBmedian
	url = https://github.com/kisungyou/sbmedian
[submodule "SHT"]
	path = SHT
	url = https://github.com/kisungyou/sht
[submodule "T4cluster"]
	path = T4cluster
	url = https://github.com/kisungyou/t4cluster
[submodule "T4transport"]
	path = T4transport
	url = https://github.com/kisungyou/t4transport
[submodule "TDAkit"]
	path = TDAkit
	url = https://github.com/kisungyou/tdakit
[submodule "Zseq"]
	path = Zseq
	url = https://github.com/kisungyou/zseq
[submodule "filling"]
	path = filling
	url = https://github.com/kisungyou/filling
[submodule "graphon"]
	path = graphon
	url = https://github.com/kisungyou/graphon
[submodule "maotai"]
	path = maotai
	url = https://github.com/kisungyou/maotai
[submodule "mclustcomp"]
	path = mclustcomp
	url = https://github.com/kisungyou/mclustcomp
[submodule "repsim"]
	path = repsim
	url = https://github.com/cran/repsim
[submodule "tvR"]
	path = tvR
	url = https://github.com/kisungyou/tvr
