[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RiemBase"]
	path = RiemBase
	url = https://github.com/kisungyou/riembase
	shallow = true
	registered = true
[submodule "T4cluster"]
	path = T4cluster
	url = https://github.com/kisungyou/t4cluster
	shallow = true
	registered = true
[submodule "tvR"]
	path = tvR
	url = https://github.com/kisungyou/tvr
	shallow = true
	registered = true
[submodule "SHT"]
	path = SHT
	url = https://github.com/kisungyou/sht
	shallow = true
	registered = true
[submodule "maotai"]
	path = maotai
	url = https://github.com/kisungyou/maotai
	shallow = true
	registered = true
[submodule "Rdimtools"]
	path = Rdimtools
	url = https://github.com/kisungyou/rdimtools
	shallow = true
	registered = true
[submodule "CovTools"]
	path = CovTools
	url = https://github.com/kisungyou/covtools
	shallow = true
	registered = true
[submodule "Riemann"]
	path = Riemann
	url = https://github.com/kisungyou/riemann
	shallow = true
	registered = true
